'data/raws/Reviews.csv.zip' filter=lfs diff=lfs merge=lfs -text
'data/raws/.ipynb_checkpoints/glove.6B.50d-checkpoint.txt' filter=lfs diff=lfs merge=lfs -text
'data/raws/Reviews.csv' filter=lfs diff=lfs merge=lfs -text
